<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812504754451-gl6sqkq44vdbaq8ssi4bvifugqp19uq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812504754451-gl6sqkq44vdbaq8ssi4bvifugqp19uq8</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CfRfZKn4C3K3taeFBv_K736R-EwuolI</string>
	<key>GCM_SENDER_ID</key>
	<string>812504754451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechatRedesign</string>
	<key>PROJECT_ID</key>
	<string>wechat-redesign-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-redesign-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812504754451:ios:1f099fb9af6894634e92e6</string>
</dict>
</plist>